<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="junpu.junpu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyDv_fTFz-aPyNzxYeDqjbqyCNVg6jpD8Wo" />

        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomizeShip"
            android:parentActivityName=".Main" />
        <activity android:name=".Battle" />
        <activity android:name=".Lobby" />
        <activity android:name=".BikeSessions" />
        <activity android:name=".Achievements" />

        <service
            android:name=".Background"
            android:stopWithTask="false" />

        <receiver android:name=".PhoneUnlockedReceiver"/>

    </application>

</manifest>